.container {
  width: 70%;
  margin: 15px;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000957;
}

h1 {
  margin: 30px;
  font-family: 'Bangers', bold;
  text-shadow: 5px 0 #577BC1;
  font-size: 8rem;
  color: #344CB7;
}

p {
  font-size: 2rem;
  color: #344CB7;
  font-family: 'Bangers', bold;
  text-shadow: 2px 0 #577BC1;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #F6DC43;
  text-align: center;
  font-family: 'Bangers', bold;

}

.button {
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 128px;
  border: none;
  background: #056bfa27;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Bangers';
}

.lable {
  margin-top: 1px;
  font-size: 19px;
  line-height: 22px;
  color: #056dfa;
  letter-spacing: 1px;
}

.button:hover {
  background: #056bfa49;
}
